@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$light_mode_bg : #E1E1E1;
$light_mode_primary: #1A31B6;
$light_mode_text_color_regular: #717171;
$light_mode_text_color_lighter: #919191;
$light_mode_text_color_dark: #1F1F1F;

* {
    font-family: 'Lato', sans-serif;
    font-family: 12px;
}

.container {
    max-width: 400px;
    background-color: $light_mode_bg;
    padding: 10px;
}

