// Getting google font "Lato"
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// Setting light mode variables for the file
$light_mode_bg : #E1E1E1;
$light_mode_primary: #1A31B6;
$light_mode_text_color_regular: #717171;
$light_mode_text_color_lighter: #919191;
$light_mode_text_color_dark: #1F1F1F;
$light_mode_white: #fff;

// General Styles
* {
    font-family: 'Lato', sans-serif;
}

p {
    font-weight: 400;
    margin: 0;
    font-size: 13px;
    color: $light_mode_text_color_regular;
}

h3 {
    font-weight: 700;
    margin: 0;
    font-size: 13px;
    color: $light_mode_text_color_dark
}

body {
    margin: 0
}
.container {
    max-width: 400px;
    background-color: $light_mode_bg;
    padding: 0px 30px;
    margin: auto;
    height: 100vh;
}


// Top Navigation Styles
#top_navigation {
    padding: 25px 15px;
}

.panel {
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 12px 15px;
    background-color: $light_mode_white;
}

.stats {
    margin: 15px 15px;
}

.alarms {
    margin: 0px 15px 15px;
    .panel {
        padding: 13px 23px;
        border-radius: 20px;
    }
}

.control_monitor {
    margin: 28px 0px;
}